 <div class="row">
 <div class="col">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="/novedads">Novedades</a></li>
      <li class="breadcrumb-item active" id="activo" aria-current="page"><%=@novedad.titulo%></li>
    </ol>
  </nav>
</div>
</div>
<div class="container">
<div class="row">
      <div class="col">
        <h1 align="center" tabindex=0 style="font-weight:bold;color:#001F3F">Novedades</h1>
      </div>
    </div>
  <div class="col">
      <div class="jumbotron jumbotron-fluid jumbo"style="background-color:#001F3F">
        <div class="container">
          <div class="row">
                    <div class="col-1"></div>
                    <% if user_signed_in?%>
                  <div class="col-9">
                  <%else%>
                    <div class="col-10">
                  <%end%>
                      <div class="card border-dark mb-3">
                        <div class="card-body" tabindex=0>
                          <h3 class="card-title" align="center" style="font-weight:bold;color:#C70E0B"> <%= @novedad.titulo %></h3>
                          <p class="card-text"><%= @novedad.copete%></p>
                          <%=image_tag @novedad.imagen, class:"card-img-top img-fluid", alt: @novedad.altimg %>
                          <br>
                          <br>
                          <p class="card-text"><%= @novedad.contenido %></p>
                          <p class="card-text" style="font-weight:bold"> Publicado por: <%= @novedad.user.email%>  </p>
                          <p class="card-text" style="font-weight:bold"> <%= octicon "calendar", :height => 14,  :class => "right left", :"aria-label" => "fecha de alerta" %> Fecha de publicación: <%=@novedad.fecha %></p>
                        </div>
                      </div>
                    </div>
                      <% if user_signed_in?%>
                      <div class="col-2" style="padding-top:5%"> 
                        <%=link_to 'Editar', edit_novedad_path(@novedad), :class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold' %>
                        <%= link_to 'Eliminar', @novedad,method: :delete, data: { confirm: '¿Estás seguro?' },:class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold' %>
                      </div>
                      <% end %>
                  </div>
                  <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                <h2 align="center"><%= link_to 'Atrás', novedads_path, :class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold'  %>
                </div>
                </div>
        </div>
      </div>
    </div>
</div>
