<div class="container">
  <div class="row">
      <div class="col">
        <h1 align="center" style="font-weight:bold;color:#001F3F">Acceso para administradores</h1>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid"style="background-color:#001F3F">
          <div class="container">
            <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4" align="center">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <%= f.label :email, :style => "font-weight:bold;color:#ddd" %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
                      </div>

                      <div class="form-group">
                        <%= f.label :contraseña, :style => "font-weight:bold;color:#ddd" %><br />
                        <%= f.password_field :password, autocomplete: "off", :class=>"form-control"  %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="form-group form-check">
                          <%= f.check_box :remember_me %>
                          <%= f.label :recordar_mis_datos, :style => "font-weight:bold;color:#ddd"  %>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= f.submit "Log in", :class => "btn btn-block", :style => "background-color:#ddd;font-weight:bold;color:#001F3F" %>
                      </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                  </div>
            </div>
          </div>
        </div>
      </div>
</div>
