 <div class="row">
 <div class="col">
<nav aria-label="breadcrumb" class="breadcrumb">
  <ol class="breadcrumb" >
    <li class="breadcrumb-item" ><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active"id="activo" aria-current="page">Información Útil</li>
  </ol>
</nav>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col">
      <h1 align="center" style="font-weight:bold;color:#001F3F">Información útil</h1>
    </div>
  </div>
<div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid jumbo"style="background-color:#001F3F">
      <%- flash.each do |name, msg| -%>
          <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="alert alert-light" style="font-weight:bold;color:#C70E0B" role="alert">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          </div>
          </div>
          <%- end -%> 
        <div class="container">

        <% if user_signed_in?%>
          <div class="form-group">
            <div class="row">

                <div class="col-3"></div>
                <div class="col-6">
                </h2 align="center"><%= link_to 'Publicar artículo', new_articulo_path, :class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold'  %>
                </div>
                </div>
            </div>
          <% end%>
            <% @articulos.each do |articulo| %>
                <div class="row">
                  <div class="col-1"></div>

                  <% if user_signed_in?%>
                  <div class="col-9">
                  <%else%>
                    <div class="col-10">
                  <%end%>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6"> 
                            <%=image_tag articulo.imagen, class:"card-img-top img-fluid", alt: articulo.altimg %>
                            </div>
                        <div class="col">
                        <br>
                        <h3 class="card-title" ><%= link_to articulo.titulo, articulo, :style=>"font-weight:bold;color:#C70E0B" %></h3>
                        <p class="card-text" style="font-weight:bold"><%= octicon "calendar", :height => 14,  :class => "right left", :"aria-label" => "fecha de alerta" %> Fecha de publicación: <%=articulo.fecha %></p>
                      </div>
                      </div>
                      </div>
                  </div>
                  </div>
                    <% if user_signed_in?%>
                    <div class="col-2" style="padding-top:5%"> 
                      <%=link_to 'Editar', edit_articulo_path(articulo), :class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold' %>
                      <%= link_to 'Eliminar', articulo,method: :delete, data: { confirm: '¿Estás seguro?' },:class => 'btn btn-block', :style =>'background-color:#ddd;color:#001F3F;font-weight:bold' %>
                    </div>
                    <% end %>
                </div>
                <br>
                <% end %>
<br>


</div>